baseline/output/*
baseline/data/full/*
baseline/results.csv
baseline/configuration.py

conversation/output/*
conversation/data/full/*
conversation/evaluation/results.csv
conversation/configuration.py

*.vscode
*__pycache__
.DS_STORE
