baseline/output/*
baseline/data/full/*
baseline/results.csv
baseline/configuration.py

data/gnue/full/*
data/bc3/full/*
conversation/output/*
conversation/evaluation/results.csv
conversation/configuration.py

*.log
*.vscode
*__pycache__
.DS_STORE
