baseline/output/*
baseline/data/full/*
baseline/results.csv
baseline/configuration.py

data/gnue/full/*
data/bc3/full/*
conversation/output/*
conversation/evaluation/results.csv
conversation/configuration.py

viterbi-or-not-demo/node_modules/*
viterbi-or-not-demo/*.log
viterbi-or-not-demo/src/environment.js
viterbi-or-not-demo/build*

*.code-workspace
*.log
*.vscode
*__pycache__
.DS_STORE
